.playarea {

    height: 100vh;
    width: 100vw;
    background-color: green;
}

.turndisplay {

    height: 10%;
    width: 100%;
    background-color: rgb(104, 10, 10);
    color: white;

}

.playdisplay {
    height: 80%;
    width: 100%;
    background-color: orange;
    display: flex;
}

.computerarea {

    padding: 1%;
    width: 50%;
    height: 100%;
    background-color: red;

}

.playerarea {
    padding: 1%;
    width: 50%;
    height: 100%;
    background-color: brown;
}

.turndisplay {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}

.userclass,
.computerclass {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

.rowcell {
    display: flex;
    flex: 1
}

.colcell {
    flex: 1;
    background-color: black;

}

.computercell,
.usercell {
    pointer-events: none;
}

.boardownerwrapper {
    height: 10%;
    width: 100%;
    background-color: maroon;
    display: flex;
}

.boardowner1,
.boardowner2 {

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;


}